.popup__container {
  display: flex;
  flex-direction: column;
  max-width: 510px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-top: -40px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    margin-top: -26px;
    padding-left: 0;
    padding-right: 0;
  }
}