.like {
  opacity: 1;
  height: 19px;
  width: 22px;
  transition: opacity 0.15s ease-in;
  background: url(../../images/like.svg) no-repeat;
  background-size: contain;
  padding: 0;
  border: none;
  box-shadow: none;
}

.like:hover {
  opacity: 0.5;
}